<!DOCTYPE html>
<html lang="en">

<head>

  <title>{{title}}</title>

  <link rel="icon" href="/img/weather.png">
  <link href="/css/styles.css" rel="stylesheet">

</head>

<body>
  <div class="main-content">
    {{> header }}
    {{errorMessage}}
  </div>

  <div>
    {{> footer }}
  </div>


</body>

</html>